
<ul class="side-menu">
	<li><a [routerLink]="['/homeapp']" routerLinkActive="router-link-active" >
		<span class="fas fa-home">
		</span>Home</a></li>
	<li><a [routerLink]="['/strategies']" routerLinkActive="router-link-active" >
		<span class="fas fa-chalkboard-teacher">
		</span>Strategies</a></li>
	<!-- <li><a [routerLink]="['/instructions']" routerLinkActive="router-link-active" >  -->
  <li><a [routerLink]="['/recomender']" routerLinkActive="router-link-active" >
		<span class="fas fa-pencil-alt">
		</span>Practice</a></li>
	<li><a [routerLink]="['/prueba']" routerLinkActive="router-link-active" >
		<span class="fas fa-book-open">
		</span>Free reading</a></li>
	<li><a [routerLink]="['/statistics']" routerLinkActive="router-link-active" >
		<span class="fas fa-chart-line">
		</span>Statistics</a></li>
	<li><a [routerLink]="['/login']" routerLinkActive="router-link-active" >
		<span class="fas fa-sign-out-alt">
		</span>Close Sesion</a></li>

</ul>
