<h4>Read and answer carefully</h4>
<img [src]="lectura.imagen" alt="foto">
<!--<a [routerLink]="safeSrc" routerLinkActive="router-link-active" >Click me Routerlink </a>-->
<p><a class="e2e-dangerous-url" [href]="safeSrc">Click on me!</a></p>
<!--<script>console.log(safeSrc)</script>
hola: {{safeSrc}}
<console.log(lectura.href)
href: {{lectura.href}}
h="{{lectura.href}}"
miUrl={{urlquest}}-->
<!--<script>(console.log({{lectura.href}}))</script>-->
<!--<div *ngIf="{{lectura.id}}=1"></div>-->
<!--<iframe width= "800"
height="900"
src="/assets/lecturas/cuestionario_4410.htm"></iframe>
<iframe width= "800"
height="900"
src={{lectura.href}}></iframe>
<iframe [src]="safeSrc"></iframe>
<iframe src={{safeSrc}}></iframe>
<iframe [src]="safeSrc"></iframe>
<iframe src={{safeSrc}}></iframe>-->




