    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
						<div class="card-header card-header-primary">
                            <h4 class="card-title ">Results</h4>
                            <p class="card-category" style="color: white;">Your results will be here:</p>
                        </div>
						<div class="card-body table-responsive">
							<table class="table table-hover">
								<thead class="text-primary">
                                    <th>Question #</th>
                                    <th>Remember</th>
                                    <th>Understand</th>
                                    <th>Apply</th>
                                    <th>Analize</th>
                                    <th>Evaluate and create</th>
								</thead>
								<tbody>
									<tr>
                                        <td>1</td>
                                        <td><i class="material-icons text-success">done</i></td>
                                        <td><i class="material-icons text-success">done</i></td>
                                        <td><i class="material-icons text-danger">close</i></td>
                                        <td><i class="material-icons text-success">done</i></td>
                                        <td><i class="material-icons text-warning">report</i></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td><i class="material-icons text-warning">report</i></td>
                                        <td><i class="material-icons text-danger">close</i></td>
                                        <td><i class="material-icons text-success">done</i></td>
                                        <td><i class="material-icons text-danger">close</i></td>
                                        <td><i class="material-icons text-success">done</i></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td><i class="material-icons text-danger">close</i></td>
                                        <td><i class="material-icons text-success">done</i></td>
                                        <td><i class="material-icons text-warning">report</i></td>
                                        <td><i class="material-icons text-success">done</i></td>
                                        <td><i class="material-icons text-danger">close</i></td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td><i class="material-icons text-success">done</i></td>
                                        <td><i class="material-icons text-danger">close</i></td>
                                        <td><i class="material-icons text-warning">report</i></td>
                                        <td><i class="material-icons text-success">done</i></td>
                                        <td><i class="material-icons text-success">done</i></td>
                                    </tr>
								</tbody>
                            </table>
                            <button mat-raised-button type="submit" [routerLink]="['/homeapp']" routerLinkActive="router-link-active"  class="btn pull-right">Finish</button>
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>

